<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta charset="UTF-8">
    <meta name="author" content="Costache Ciprian">
    <meta name="keywords" content="scoruri,rezultate,meci live">
    <meta name="description" content="Scoruri in sporturi">

<title>Eroare 404</title>

    <link rel="shortcut icon" type="image/png" href="/resurse/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle1200.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle500.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/meniu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    </head>
    <body>

        <header> 
            <div id="container" style="white-space:nowrap">
        
                <div id="image" style="display:inline;">
                    <img src="/resurse/img/baseball.jpg" width="55" height="40">
                </div>
            
                <div id="texts" style="display:inline; white-space:nowrap;"> 
                    <a href="/" style="text-decoration: none;">Eroare 404</a>
                </div>
                
            </div>  
        </header>
        <a href="#"></a>
            
        <nav>
                
            
            
            <ul class="meniu">
                <li><div><button class="btn"><i class="fa fa-home"></i></button>Acasa</div>
                    <ul style="font-weight: bold; font-style: italic;">
                        <li><a href="#sectiune1">Despre noi</a></li>
                        <li><a href="#fotbal">Fotbal</a></li>
                        <li><a href="#Tenis">Tenis</a></li>
                        <li><a href="#sectiune8">News</a></li>
                    </ul>
                </li>
                <li><div>Sporturi</div>
                    <ul>
                        <li><a href="fotbal.html">Fotbal</a></li>
                        <li><a href="tenis.html">Tenis</a></li>
                        <li><a href="handbal.html">Handbal</a></li>
                        <li><a href="baschet.html">Baschet</a></li>
                        <li><a href="Volei.html">Volei</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    

    <main>
        <section>
            <h1>404 - page not found</h1>
            <p>Pagina nu exista!</p>
            <div id="image">
                <img src="/resurse/img/eroare.jpg" width="546" height="122">
            </div>
        
        </section>
    </main>

   
    </body>

    <footer>

        <div class="sus">
            <a href="#">&#129081</a>
            <span class="tooltip">Catre inceput</span>
            
        </div>
        
        
    
        <address>
            Daca doriti sa ne contactati prin <a href="mailto:123@example.com">e-mail</a>.<br>
            Puteti sa ne vizitati la: Steaua din Deal, Nr. 36<br>
            <a href="tel:+50225079227;1">Sunati acum!</a>
        </address>
        <p>
            <small>
                &#169;Copyright CheckScore 
                <time datetime="2021-03-07 16:10">2021</time>
            </small>
        </p>
        <div class="banner">
            <p><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Acesta mesaj indica faptul ca este un proiect scolar!</p>
        </div>
    </footer>
</html>