<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Costache Ciprian">
    <meta name="keywords" content="scoruri,rezultate,meci live">
    <meta name="description" content="Scoruri in sporturi">

    <title>CheckScore</title>

    <link rel="shortcut icon" type="image/png" href="/resurse/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle1200.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/mystyle500.css"/>
    <link rel="stylesheet" type="text/css" href="/resurse/css/meniu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

</head>

<body >
    
    <header> 
        <div id="container" style="white-space:nowrap">

            <div id="image" style="display:inline;">
                <img src="/resurse/img/baseball.jpg" width="55" height="40">
            </div>
        
            <div id="texts" style="display:inline; white-space:nowrap;"> 
                <a href="/" style="text-decoration: none;">CheckScore</a>
            </div>
            
        </div>  
    </header>
    <a href="#"></a>
        
    <nav>
            
        
        
        <ul class="meniu">
            <li><div><button class="btn"><i class="fa fa-home"></i></button>Acasa</div>
            </li>
            <li><div>Sporturi</div>
                <ul>
                    <li><a href="/pagini/fotbal">Fotbal</a></li>
                    <li><a href="tenis.html">Tenis</a></li>
                    <li><a href="handbal.html">Handbal</a></li>
                    <li><a href="baschet.html">Baschet</a></li>
                    <li><a href="Volei.html">Volei</a></li>
                </ul>
            </li>
            <li><div><a href="/pagini/fotbal">Produse</a></div>
            </li>
        </ul>
    </nav>
        

    <main>
        
      <h2>Fotbal</h2>
      <p2>Aici vom detalia mai mult subiectele din fotbal</p2>
      <ul>
        <li >Turneul final al Campionatului European de fotbal – EURO 2020 – va debuta vineri, cu meciul Italia – Turcia (ora 22:00), 
            pe Stadio Olimpico din Roma, în Grupa A, un an mai târziu decât trebuia, din cauza pandemiei de coronavirus.
            <div id="image">
                <img src="/resurse/img/euro.jpg" width="546" height="256">
            </div>
        </li>
        

        <li>
            Real Madrid va avea parte de un stadion nou. Finalizarea proiectului este așteptată în luna octombrie a anului 2022, dar lucrările pot dura și până la cinci ani. Costurile vor fi uriașe, 575 de milioane de euro, iar procesul va începe în luna mai. 
        Capacitatea va fi de 80.242 de locuri. În acest moment, arena poate găzdui un maxim de 81.044 de fani.
            <div id="image">
                <img src="/resurse/img/rma_stadium.jpg" width="400" height="133">
            </div>
        </li>
        
        <li >Christian Eriksen (29 de ani) a ieșit conștient de pe gazonul stadionului ”Parken” din Copenhaga. Depășise momentul de cumpănă al vieții. De pe patul de spital, 
            fotbalistul lui Inter și-a liniștit soția, Sabrina, după care a stat de vorbă și cu ai săi colegi de la națională.
            <div id="image">
                <img src="/resurse/img/eriksen.jpg" width="400" height="190">
            </div>
        </li>
    </ul>
    </main>

    <footer>

        <div class="sus">
            <a href="#">&#129081</a>
            <span class="tooltip">Catre inceput</span>
            
        </div>
        
        

        <address>
            Daca doriti sa ne contactati prin <a href="mailto:123@example.com">e-mail</a>.<br>
            Puteti sa ne vizitati la: Steaua din Deal, Nr. 36<br>
            <a href="tel:+50225079227;1">Sunati acum!</a>
        </address>
        <p>
            <small>
                &#169;Copyright CheckScore 
                <time datetime="2021-03-07 16:10">2021</time>
            </small>
        </p>
        <div class="banner">
            <p><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Acesta mesaj indica faptul ca este un proiect scolar!</p>
        </div>
    </footer>

</body>

</html>