<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Costache Ciprian">
    <meta name="keywords" content="scoruri,rezultate,meci live">
    <meta name="description" content="Scoruri in sporturi">

    <title id="titlu">CheckScore</title>

    <link rel="shortcut icon" type="image/png" href="resurse/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="resurse/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="resurse/css/mystyle.css"/>
    <link rel="stylesheet" type="text/css" href="resurse/css/mystyle1200.css"/>
    <link rel="stylesheet" type="text/css" href="resurse/css/mystyle500.css"/>
    <link rel="stylesheet" type="text/css" href="resurse/css/meniu.css"/>
    <link rel="stylesheet" media="print" href="resurse/css/print.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

</head>

<body >
    
    <header> 
        <div id="container" style="white-space:nowrap">

            <div id="image" style="display:inline;">
                <img src="resurse/img/baseball.jpg" width="55" height="40">
            </div>
        
            <div id="texts" style="display:inline; white-space:nowrap;"> 
                CheckScore
            </div>
            
        </div>  
    </header>
    <a href="#"></a>
        
    <nav>
            
        
        
        <ul class="meniu">
            <li><div><button class="btn"><i class="fa fa-home"></i></button>Acasa</div>
                <ul style="font-weight: bold; font-style: italic;">
                    <li><a href="#sectiune1">Despre noi</a></li>
                    <li><a href="#fotbal">Fotbal</a></li>
                    <li><a href="#Tenis">Tenis</a></li>
                    <li><a href="#sectiune8">News</a></li>
                </ul>
            </li>
            <li><div>Sporturi</div>
                <ul>
                    <li><a href="pagini/fotbal">Fotbal</a></li>
                    <li><a href="tenis.html">Tenis</a></li>
                    <li><a href="handbal.html">Handbal</a></li>
                    <li><a href="baschet.html">Baschet</a></li>
                    <li><a href="Volei.html">Volei</a></li>
                </ul>
            </li>
            <li><div><a href="pagini/fotbal">Produse</a></div>
            </li>
        </ul>
    </nav>
        

    <main>
        
      <div id="grid-pagina">  
        <section id="sectiune2">
        
            <section id="fotbal">
                <div id="container" style="white-space:nowrap">
                    <h4>
                    <div id="image" style="display:inline;">
                        <img src="resurse/img/1.png" width="35" height="35">
                    </div>
                
                    <div id="texts" style="display:inline; white-space:nowrap;"> 
                        Fotbal
                    </div>
                    </h4>
                </div>
                
                <table id="tab-fotbal">
                    <thead  class="cap">

                        <tr>
                            <th></th>
                            <th>Liga</th>
                            <th>Ora</th>
                            <th>EchipaAcasa</th>
                            <th>EchipaDeplasare</th>
                            <th>Rezultat</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr id="impar">
                            <td></td>
                            <td>Liga1</td>
                            <td>14:00</td>
                            <td>Dinamo</td>
                            <td>Pandurii Tg., Jiu</td>
                            <td>3-1</td>
                        </tr>
                        <tr id="par">
                            <td></td>
                            <td>Ligue1</td>
                            <td>18:00</td>
                            <td>St. Lorient</td>
                            <td>Ol. Marseille</td>
                            <td>0-0</td>
                        </tr>
                        <tr id="impar">
                            
                            <td></td>
                            <td>Ligue1</td>
                            <td>18:00</td>
                            <td>Ol. Lyon</td>
                            <td>Ancient</td>
                            <td>0-2</td>
                        <tr id="par">
                            <td></td>
                            
                            <td>Bundeslia</td>
                            <td>22:00</td>
                            <td>Dortmund</td>
                            <td>Bay. Leverkusen</td>
                            
                            <td>2-1</td>
                        </tr>
                        <tr id="impar">
                            <td></td>
                            
                            <td>Bundeslia</td>
                            <td>22:00</td>
                            <td>Schalke</td>
                            <td>Bayern</td>
                            
                            <td>2-2</td>
                        
                       
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td></td>
                            <td></td>
                            <td></td>
                            <th>Etapa urmatoare</th>
                            <td>21.04.2021</td>
                        </tr>
                    </tfoot>
                </table> 
            </section>


            <section id="Tenis">
                <div id="container" style="white-space:nowrap">
                    <h4>
                    <div id="image" style="display:inline;">
                        <img src="resurse/img/tennis.png" width="35" height="35">
                    </div>
                
                    <div id="texts" style="display:inline; white-space:nowrap; "> 
                        Tenis
                    </div>
                    </h4>
                </div>
                <table id="tab-tenis">
                    <thead class="cap">

                        <tr>
                            <th></th>
                            <th>Competitia</th>
                            <th>Ora</th>
                            <th>Jucator 1</th>
                            <th>Jucator 2</th>
                            <th>Rezultat</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr id="impar">
                            <td></td>
                            <td>ATP-SIMPLU</td>
                            <td>14:00</td>
                            <td>RAMOS A.</td>
                            <td>sINNER J</td>
                            <td>0-2</td>
                        </tr>
                        <tr id="par">
                            <td></td>
                            <td>ATP-SIMPLU</td>
                            <td>16:15</td>
                            <td>PELLA G.</td>
                            <td>ROUILLE L.</td>
                            
                            <td>0-2</td>
                        </tr>
                        <tr id="impar">
                            
                            <td></td>
                            <td>WTA-SIMPLU</td>
                            <td>18:00</td>
                            <td>AHB K.</td>
                            <td>MIN G.</td>
                            <td>1-2</td>
                        
                        </tr>
                        <tr id="par">
                            <td></td>
                            
                            <td>WTA-SIMPLU</td>
                            <td>21:00</td>
                            <td>MCHALE C.</td>
                            <td>ERRANI S.</td>
                            
                            <td>2-1</td>
                        </tr>
                        <tr id="impar">
                            <td></td>
                            
                            <td>ATP-DUBLU</td>
                            <td>22:00</td>
                            <td>MELOM./JOJER J</td>
                            <td>RAM R./SALISBURY J.</td>
                            
                            <td>2-1</td>
                        
                       
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Etapa urmatoare</th>
                            <td>23.04.2021</td>
                        </tr>
                    </tfoot>
                </table> 
            </section>
        </section>
    
        <section id="sectiune1">
            <p>Despre site-ul nostru</p>
                
            <h2>Scopul principal</h2>
                <p>
                    Scopul nostru a fost sa va informam pe dumneavoastra, publicul, atat despre ultimele <b>rezultate</b> si <b>scoruri</b>
                    din fiecare domeniu sportiv, cat si cele mai interesante <strong>stiri ce s-au petrecut in teren, dar
                    si in afara acestuia</strong>.
                </p>
                <p>
                    Ne dorim imens ca intrebarile dumneavoastra despre lumea sportului sa isi gaseasca un raspuns
                    pe pagina noastra si sa ramaneti surprinsi si poate flatati de lucrurile ce le aflati de la noi!
                    Asiguram faptul ca fiecare <b>meci live</b> se va putea urmari la noi!
                </p>
                <h2>Scopul secundar</h2>
                <blockquote>
                    Nu putem nega faptul ca o alta implinire ar fi sa putem sa ajungem la cat mai multa lume
                    si fiecare <b>rezultat</b> sa fie gasit la noi iar in vederea atingerii acestui scop <em>depunem toata munca necesara</em>.
                </blockquote>
           
        </section>
        
     
        
        <!-- ************************ -->
        <!-- Sectiuni random -->
        <section id="sectiune3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula sem in finibus eleifend. 
            Aenean fermentum, libero ut finibus tincidunt, nisl libero feugiat lorem, non facilisis nisl urna volutpat diam. 
            auris tristique posuere semper. Vestibulum tempor nec enim eu gravida. Vivamus quis hendrerit orci, quis rhoncus massa
        </p>
        </section>
        <p>
            Aliquam porta sem risus, eget tempus nisi mollis non. In rutrum ante turpis, id gravida diam ultrices et. 
            Cras egestas, magna et placerat tempus, felis sem vehicula erat, id aliquet nulla turpis nec lectus. 
            Quisque ut mauris et sapien facilisis malesuada nec sodales libero. 
            Curabitur pulvinar, purus quis tincidunt ultricies, mi massa faucibus odio, a tempus neque ex at turpis. 
            Quisque quis metus a justo bibendum elementum vitae a orci.
        </p>
        <section id="sectiune4">
            <p>
                Aliquam porta sem risus, eget tempus nisi mollis non. In rutrum ante turpis, id gravida diam ultrices et. 
                Cras egestas, magna et placerat tempus, felis sem vehicula erat, id aliquet nulla turpis nec lectus. 
                Quisque ut mauris et sapien facilisis malesuada nec sodales libero.
                Curabitur pulvinar, purus quis tincidunt ultricies, mi massa faucibus odio, a tempus neque ex at turpis.
                 Quisque quis metus a justo bibendum elementum vitae a orci.
            </p>
        </section>

        <section id="sectiune5">
            <video width="400" height="300" poster="/resurse/img/poster.jpg"  controls preload="metadata" >
                <source src="/resurse/video/sports.mp4" type="video/mp4">
                <source src="/resurse/video/sports.ogv" type="sports/ogv">
                <track label="romana" kind="captions" srclang="ro" src="/resurse/video/video.vtt" default>
                <track label="English" kind="captions" srclang="en" src="/resurse/video/video-eng.vtt">
             </video>
             
        </section>

        <section id="sectiune6">
            <p>
                Aliquam porta sem risus, eget tempus nisi mollis non. In rutrum ante turpis, id gravida diam ultrices et. 
                Cras egestas, magna et placerat tempus, felis sem vehicula erat, id aliquet nulla turpis nec lectus. 
                Quisque ut mauris et sapien facilisis malesuada nec sodales libero.
                Curabitur pulvinar, purus quis tincidunt ultricies, mi massa faucibus odio, a tempus neque ex at turpis.
                 Quisque quis metus a justo bibendum elementum vitae a orci.
            </p>
        </section>

        <section id="sectiune7">
            <p>
                Aliquam porta sem risus, eget tempus nisi mollis non. In rutrum ante turpis, id gravida diam ultrices et. 
                Cras egestas, magna et placerat tempus, felis sem vehicula erat, id aliquet nulla turpis nec lectus. 
                Quisque ut mauris et sapien facilisis malesuada nec sodales libero.
                Curabitur pulvinar, purus quis tincidunt ultricies, mi massa faucibus odio, a tempus neque ex at turpis.
                 Quisque quis metus a justo bibendum elementum vitae a orci.
            </p>
        </section>

        <!-- ************************ -->

    <section id="sectiune8">
        
        <details>
            <summary>Cele mai urmarite stiri de astazi</summary>
            <ol>
              <li>Cum Kepa a refuzat sa fie <a href="https://www.youtube.com/watch?v=8cg5fIRaxSM&ab_channel=KukuhBergas">schimbat</a></li>
              <li>Quincy Promes acuzat de <a href="https://www.espn.com/soccer/ajax-amsterdam/story/4264425/ajax-forward-promes-released-from-jail-after-arrest-for-alleged-stabbingremains-suspect">tentativa de omor</a></li>
              <li>Andre Onana <a href="https://www.espn.com/soccer/ajax-amsterdam/story/4264425/ajax-forward-promes-released-from-jail-after-arrest-for-alleged-stabbingremains-suspect">suspect de dopping?</a></li>
            </ol>
        </details>
        

        <section>
        <h3>Pasiune pentru sporturi</h3>
            <p>
                <i class="fa fa-angle-double-down"></i>  In video-urile care urmeaza am dori sa va aratam ce simtim noi pentru sporutri, si daca am putea, sa va insuflam si dumneavoastra acelasi feeling!
            </p>
                
                    <div class="flexbox">
                    <a href="https://www.youtube.com/embed/WA4dDs0T7sM" target="ifr-video">Pasiune pentru sporutri</a>
                    <a href="https://www.youtube.com/embed/ZlfKYEG-eXk" target="ifr-video">Nimic nu te poate opri</a>
                    <a href="https://www.youtube.com/embed/WxOFvpplvAM" target="ifr-video">Acum sau niciodata</a>
                   
                    </div> 

                    <iframe name="ifr-video" width="500" height="275" src="https://www.youtube.com/embed/WA4dDs0T7sM" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>

    </section>

    <section id="galerie-statica">
        <h5>Galerie CheckScore</h5>
        <div id="grid-galerie">
            <%var i=0; %>
            <% for (let imag of locals.imagini){  %>
                <%if(i<10){ %>
                    <figure>
                <picture id="poza">
                    <source srcset="/<%-imag.mic%>" media="(max-width:1200px)"/>
                    <img src="/<%-imag.mare%>" alt="text"/>
                </picture>
                <figcaption><%-imag.descriere%></figcaption>
            </figure>
                 <% } %>

                 <% i++; %>
            <% } %>
        </div>
    </section>
    

    </div>
    </main>

    <footer>

        <div class="sus">
            <a href="#">&#129081</a>
            <span class="tooltip">Catre inceput</span>
            
        </div>
        
        

        <address>
            Daca doriti sa ne contactati prin <a href="mailto:123@example.com">e-mail</a>.<br>
            Puteti sa ne vizitati la: Steaua din Deal, Nr. 36<br>
            <a href="tel:+50225079227;1">Sunati acum!</a>
        </address>
        <p>
            <small>
                &#169;Copyright CheckScore 
                <time datetime="2021-03-07 16:10">2021</time>
            </small>
        </p>
        <div class="banner">
            <p><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Acesta mesaj indica faptul ca este un proiect scolar!</p>
        </div>
    </footer>

</body>

</html>