<footer>

    <div class="sus">
        <a href="#">&#129081</a>
        <span class="tooltip">Catre inceput</span>
        
    </div>
    
    

    <address>
        Daca doriti sa ne contactati prin <a href="mailto:123@example.com">e-mail</a>.<br>
        Puteti sa ne vizitati la: Steaua din Deal, Nr. 36<br>
        <a href="tel:+50225079227;1">Sunati acum!</a>
    </address>
    <p>
        <small>
            &#169;Copyright CheckScore 
            <time datetime="2021-03-07 16:10">2021</time>
        </small>
    </p>
    <div class="banner">
        <p><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>Acesta mesaj indica faptul ca este un proiect scolar!</p>
    </div>
</footer>