<header> 
    <div id="container" style="white-space:nowrap">

        <div id="image" style="display:inline;">
            <img src="resurse/img/baseball.jpg" width="55" height="40">
        </div>
    
        <div id="texts" style="display:inline; white-space:nowrap;"> 
            CheckScore
        </div>
        
    </div>  
</header>
<a href="#"></a>
    
<nav>
        
    
    
    <ul class="meniu">
        <li><div><button class="btn"><i class="fa fa-home"></i></button>Acasa</div>
            <ul style="font-weight: bold; font-style: italic;">
                <li><a href="#sectiune1">Despre noi</a></li>
                <li><a href="#fotbal">Fotbal</a></li>
                <li><a href="#Tenis">Tenis</a></li>
                <li><a href="#sectiune8">News</a></li>
            </ul>
        </li>
        <li><div>Sporturi</div>
            <ul>
                <li><a href="pagini/fotbal">Fotbal</a></li>
                <li><a href="tenis">Tenis</a></li>
                <li><a href="handbal">Handbal</a></li>
                <li><a href="baschet">Baschet</a></li>
                <li><a href="Volei">Volei</a></li>
            </ul>
        </li>
    </ul>
</nav>